fastapi
uvicorn
jinja2
pandas
openai
matplotlib
seaborn
reportlab
python-pptx
openpyxl
python-docx
python-multipart
itsdangerous
bcrypt
slowapi
razorpay
sqlalchemy
psycopg2-binary
resend
langchain
langchain-experimental
langchain-openai
